<main class="main-wrapper">
    <div class="about">
        <div class="img-about" style="text-align: left;">
            <img width="500vh" src="assets/img/about.png">
        </div>
        <div dir="rtl">
            <h1 class="title"><u>מי אנחנו</u></h1>
            <p> מערכת המספקת למכללה לוח מבחנים יעיל <br>
                הכולל את כל התנאים והזמנים הרצויים <br>
                שהמשתמש מכניס. <br>
                ובכך חוסכת זמן והתעסקות להנהלת המכללה<br>
                ואת ההמתנה הארוכה של הסטודנטים לקבלת <br>
                לוח זמנים מסודר.<br>
            </p>
        </div>
    </div>
</main>
