<main>
  <mat-toolbar color="primary">
    <div class="project-name">{{title}}</div>
    <div class="navigation-content">
      <a class="navigation" mat-button routerLink="/contact" routerLinkActive="active-link">צור קשר</a>
      <a class="navigation" mat-button routerLink="/about" routerLinkActive="active-link">אודות</a>
      <a class="navigation" mat-button routerLink="/Login" routerLinkActive="active-link" *ngIf="!isConnected">אזור
        אישי</a>
      <a class="navigation" mat-button routerLink="/Login" *ngIf="isConnected" (click)="disconnect()">התנתק</a>
      <a class="navigation" mat-button routerLink="/exam-table" *ngIf="isConnected" routerLinkActive="active-link">העלה
        קובץ</a>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</main>